#buddypress div#item-nav {
	margin-bottom: 35px;

	#object-nav {
		background-color: color('snow');
		box-shadow: $box-shadow;

		ul li {
			border: none;

			a,
			a:visited {
				padding: 16px 20px;
				color: $theme-dark;
				font-weight: font-weight('light');
			}

			&.current.selected,
			a:hover,
			a:focus,
			a:active {
				background-color: color('gray-light');
				text-decoration: none;
				border: none;
			}
		} 
	}
}