.btn,
a.btn,
.button,
a.button,
#cs-content.cs-content .x-btn,
#cs-content.cs-content .x-btn.x-btn-flat,
#cs-content.cs-content .x-btn.x-btn-transparent,
#cs-content.cs-content .x-btn.x-btn-real {
	$btn-color: $theme-color !default;
	$btn-hover: $theme-dark !default;
	$btn-padding: 14px !default;

	@mixin not-disabled() {
		&:not([disabled]):not(.disabled):not(:disabled) {
			@content;
		}
	}

	border: $btn-color 2px solid;
	background: $btn-color;
	color: color('white');
	width: auto;
	padding: $btn-padding;
	text-decoration: none;
	@include text-uppercase;
	font-weight: font-weight('semi-bold');
	text-shadow: none;
	box-shadow: none;
	transition: border-color $trans-time, background $trans-time, color $trans-time;

	border-radius: $btn-border-radius;

	&:hover,
	&:focus,
	&:active {

		@include not-disabled {
			border-color: $btn-hover;
			color: color('white');
			border-width: 2px;
			background-color: $btn-hover;
			text-shadow: none;
			box-shadow: none;
			text-decoration: none;
		}
	}

	&[disabled],
	&.disabled,
	&:disabled {
		cursor: not-allowed;
		background-color: $theme-grey;
		color: color('black');
	}

	&.btn-transparent,
	&.inverse,
	.social-learner .sfwd-courses & {
		color: inherit;
		background: transparent;
		padding: $btn-padding;

		&:hover,
		&:focus,
		&:active {

			@include not-disabled {
				background-color: $btn-hover;
				border-color: $btn-hover;
				color: color('white');
			}
		}
	}

	&.alt {
		$btn-color: $highlight1;
		$btn-hover: $highlight1-hover;

		color: color('black');
		border-color: $btn-color;
		background-color: $btn-color;

		&:hover,
		&:focus,
		&:active {

			@include not-disabled {
				border-color: $btn-hover;
				background-color: $btn-hover;
			}
		}

		&.btn-transparent {
			color: inherit;
			background: transparent;
			border-color: color('black');

			&:hover,
			&:focus,
			&:active {

				@include not-disabled {
					background-color: $btn-hover;
				}
			}
		}
	}

	&.white {
		$btn-color: color('white');
		$btn-hover: rgba( color('white'), 0.88);

		color: color('black');
		background-color: $btn-color;
		border-color: $btn-color;

		&:hover,
		&:focus,
		&:active {
			@include not-disabled {
				background-color: $btn-hover;
			}
		}

		&.btn-transparent {
			color: color('white');
			background-color: transparent;

			&:hover,
			&:focus,
			&:active {
				@include not-disabled {
					color: color('black');
					background-color: color('white');
				}
			}
		}
	}
}
