.course-header {
	
	.progress-wrap {
		color: color('silver');

		.course_progress {
			background-color: color('silver');

			.course_progress_blue { // not actually blue
				background-color: color('orange-fill');
			}
		}
	} 
}