$logo-height: 75px;
$nav-height: 75px;

#header-main {
	$right-col-md-width: 215px;
	$logged-in-logo-width: 105px;

	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	background-color: color('white');
	color: $theme-color;
	box-shadow: 0 4px 4px rgba( color('black'), 0.1 );

	@include media(xs, 'max') {
		display: none;
	}

	#mastlogo {
		height: $logo-height;
		width: 100%;
		float: none;
		margin: 0;
		box-shadow: none;

		.site-title {
			text-align: center;
		}

		body.logged-in & {
			display: inline-block;
			float: left;
			width: $logged-in-logo-width;
			padding: 5px 18px;

			#logo img.large {
				display: none;
			}
			#logo img.small {
				display: block !important; // overrides a WP !important
				max-height: $nav-height;
				width: auto;
			}
		}
	}

	#masthead {
		position: relative;
		height: $nav-height;
		border-top: color('silver') 1px solid;

		.right-col {
			color: $theme-text;
		}

		#search-open {
			background: none;
			color: $theme-text;

			&:before {
				content: '';
				@include center-absolute( scale(0.35) );
				@include square(35px);
				background: $theme-color;
				border-radius: 50%;
				opacity: 0;
				transition: opacity $trans-time, transform $trans-time;
			}

			&:hover:before {
				opacity: 0.15;
				@include center-absolute( scale(1) );
			}
			&:active:before,
			&:focus:before {
				opacity: 0.25;
				@include center-absolute( scale(1) );
			}

		}

		.header-notifications {

			.notification-link {
				color: $theme-text;
			}
		}

		body.logged-in & {
			$logo-menu-gutter: 20px;

			border-top: none;
			float: left;
			width: calc(100% - #{$logged-in-logo-width});

			.left-col {
				padding: 0;
			}

			@include media(md,'max') {
				
				.left-col {
					width: auto;
				}
				.right-col {
					width: auto;

					.header-account-login {
						min-width: 0;
						padding-left: 15px;

						.user-link .name {
							@include hide;
						}
					}
				}

			}

			@include media(md) {
				margin-left: $logo-menu-gutter;
				width: calc(100% - #{$logged-in-logo-width + $logo-menu-gutter});
			}
		}
	}

	.header-outher {
		box-shadow: none;
		margin-left: 0;
	}

	.header-inner .right-col {
		.register,
		.login {
			border-radius: $btn-border-radius;
			font-weight: font-weight('normal');
			@include font-px(14);
			font-weight: font-weight('light');
		}
	}

	a {
		text-decoration: none;
	}

	// centers nav on tablet+
	@include media(md) {

		.header-inner .left-col {
			width: 100%;
			padding-left: $right-col-md-width;
		}
		.header-inner .right-col {
			min-width: $right-col-md-width;
		}
	}

}

.menu-custom-profile-menu-container {

	a:hover,
	a:focus {
		background-color: $profile-nav-hover;
	}
}

@include media(xs) {
	body {
		margin-top: $logo-height + $nav-height;

		&.logged-in {
			margin-top: $nav-height;
		}
	}
}

#panels {

	#right-panel,
	#left-panel {
		margin-top: 0;
	}
}
