.learndash {

	a {
		color: $theme-color;
	}

	#learndash_course_materials {

		a {
			font-weight: font-weight('bold');
		}
	}

	#learndash_course_content {

		#lessons_list h4 {
			font-weight: font-weight('bold');
			@include font-px(21.5);
		}

		#learndash_lessons .lesson {

			.lesson-meta {
				color: $theme-color;

			}

			.drop-list:before {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 10px 7.5px 0 7.5px;
				border-color: $theme-color transparent transparent transparent;
				display: inline-block;
				vertical-align: -3px;
				transform-origin: 50% 40%;
				transition: transform $trans-time;
			}

			&.expanded .drop-list:before {
				@include transform(rotateZ(180deg));
			}
		} 

		.learndash_topic_dots a {
			font-weight: font-weight('normal');
			@include font-px(16);
		}

		.notcompleted,
		.topic-notcompleted,
		#quiz_list .notcompleted {

			&:before {
				color: $theme-color;
				top: 50%;
				margin-top: 0;
				@include transform( translate( 0, -50%) );
			}
		}
	}

	.widgettitle {
		@extend h4;
		color: hotpink;
	}
}
