#panels {
	
	body.bd-hide-left-bar & {

		#right-panel {

			#right-panel-inner {
				width: 100%;
				margin-left: 0;
			}
		}
	}

	body.bd-hide-left-bar:not(.is-mobile) & {
		#left-panel {
			@include hide;
		}
	}	
}

body.is-mobile {

	#mobile-menu.menu-panel,
	#left-panel.menu-panel {
		background-color: $mobile-nav-bg;
		padding-top: 0;

		#header-menu,
		#left-panel-inner {
			a {
				color: $theme-dark;
				border-bottom: $mobile-nav-border 1px solid;

				&:before {
					color: inherit;
				}

				&,
				&:before {
					transition: background $trans-time;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: $mobile-nav-hover;

					&:before {
						color: inherit;
					}
				}
			}

			.dropdown .ab-sub-wrapper {
				background-color: $mobile-nav-bg;
			}
		}
	}
}
