$logo-height: 75px;
$nav-height: 75px;

#header-main {
	$right-col-md-width: 200px;
	$logged-in-logo-width: 105px;

	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	background-color: color('white');

	#mastlogo {
		height: $logo-height;
		width: 100%;
		float: none;
		margin: 0;
		box-shadow: none;

		.site-title {
			text-align: center;
		}

		body.logged-in & {
			display: inline-block;
			float: left;
			width: $logged-in-logo-width;
			padding: 5px 18px;

			#logo img.large {
				display: none;
			}
			#logo img.small {
				display: block !important; // overrides a WP !important
			}
		}
	}

	#masthead {
		position: relative;
		height: $nav-height;
		border-top: color('silver') 1px solid;

		body.logged-in & {
			$logo-menu-gutter: 75px;

			float: left;
			margin-left: $logo-menu-gutter;
			width: calc(100% - #{$logged-in-logo-width + $logo-menu-gutter});

			.left-col {
				padding: 0;
			}
		}
	}

	.header-outher {
		box-shadow: none;
		margin-left: 0;
	}

	.header-inner .right-col {
		.register,
		.login {
			border-radius: $btn-border-radius;
			background-color: $nav-link-color;
			font-weight: font-weight('normal');
		}
	}

	// centers nav on tablet+
	@include media(md) {

		.header-inner .left-col {
			width: 100%;
			padding-left: $right-col-md-width;
		}
		.header-inner .right-col {
			min-width: $right-col-md-width;
		}
	}

}

body {
	margin-top: $logo-height + $nav-height;

	&.logged-in {
		margin-top: $nav-height - 32px; // workaround?
	}
}

#panels {

	#right-panel,
	#left-panel {
		margin-top: 0;
	}
}
