.beingdesign-override.social-learner {

	.course-header {
		padding-bottom: 92px;
	}

	#course-details {
		position: relative;
		margin-top: -84px;
		padding-bottom: 0;
		background: transparent;
	}

	#secondary {
		border-left: $theme-dark 2px solid !important;
	}

	#students,
	#clients,
	#companies,
	#instructors,
	#students,
	#counters,
	#shop,
	#launch,
	#vc-courses {

		> .vc_col-sm-12 {

			&, 
			* {
				font-family: $body-font;
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				font-family: $header-font;
			}
		}
	}

	#course-list-wrap {

		.sfwd-courses {

			.course-flexible-area {

				header h2 {
					@include font-px(24);
					color: $theme-color;
					max-height: none;
					padding-bottom: 0;
					border-bottom: none;
				}

				.sensei-course-meta {
					margin-bottom: 20px;
				}
			}
		}
	}

	.lms-post-content {

		h1 {
			color: $theme-dark;
		}

		p {
			@include font-px(20);
		}
	}

	.widget-area .widget_course_teacher header span p {
		font-weight: font-weight('bold');
		@include font-px(12);
		text-transform: uppercase;
	}

	.widget-area .widget_course_teacher header span a {
		font-family: $header-font;
		@include font-px(22);
	}

	#learndash_course_status {
		border: none;
	}
}
