.beingdesign-override {
    &,
    p,
    input[type='text'],
    input[type='email'],
    input[type='url'],
    input[type='password'],
    input[type='search'],
    textarea {
        color: $theme-text;
    }
}

#message-threads.notices-table a.button {
    text-align: center !important;
}

#buddypress table#message-threads a {
    word-break: initial;
}