.beingdesign-override.woocommerce-page {
	
	// Disabled buttons looked wonky
	input.button:disabled,
	.woocommerce input.button:disabled[disabled] {
		cursor: not-allowed;
		background-color: $mobile-nav-bg;
		color: color('jet');
		opacity: 0.5;

		&:hover {
			box-shadow: none;
		}
	}

	// Duplicate custom select menus; this hides the BB variant
	.buddyboss-select-inner {
		@include sr-only;
	}

	// "Continue Shopping" button on checkout page
	// Used to have blue text on blue bg
	#content .woocommerce-message .wc-forward {
		&,
		&:hover,
		&:focus {
			color: color('white');
		}
	}

	// Checkout table fonts were way too small
	.entry-content table {
		@include font-px(20);
	}

	// remove button should be theme red
	// woocommerce CSS uses an !important
	.woocommerce a.remove {
		color: $alert-color !important;
		text-decoration: none;

		&:hover {
			color: color('white') !important;
			background-color: $alert-color;
		}
	}

	// adds border to address field on orders page
	.woocommerce-column__title,
	address {
		border: 1px solid rgba(color('black'), .1);
		padding: 10px;
	}
}
