// PATHS
$path-fonts: '../../fonts';
$path-images: '../images';


// COLORS
// usage: color('blue-text')
$palette: (
	'white':					#fff,
	'black': 					#000,
	'jet':						#05161a,
	'platinum':				#eee,
	'snow':						#f3f3f3,
	'silver':					#d9d9d9,
	'platinum-blue':	#f1f4f9,
	'silver-blue':		#e4ebf3,
	'ink':						#140b31,
	'gray-light':			#d9d9d9,
	'blue-fill':			#0b5394,
	'gold-fill':			#f1c232,
	'gold-fill-dark':	#d4a924,
	'teal-fill':			#45818e,
	'orange-fill':		#e69138,
	'purple-fill':		#351c75,
	'purple-text':		#20124d,
	'purple-light':		#674ea7,
	'terra-cotta':		#A44734,
	'red-dark':				#753225,
	'teal-dark': 			#0c343d,
	'gray-lessons':		#f1f4f9,
	'gray-topics':		#e4ebf3,
	'gray-border':		#595959,
	'progress-gray':	#ccc,
	);


// FONTS
// Lato
$font-alegreya-sans: 'Alegreya Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-cormorant-garamond: 'Cormorant Garamond', serif;

// FONT-WEIGHT
// usage: font-weight('semi-bold')
$font-weight: ( //keys designated per fonts.google.com
	'thin': 				100,
	'extra-light': 	200,
	'light': 				300,
	'regular': 			400,
	'normal': 			400,
	'medium':				500,
	'semi-bold':		600,
	'bold':         700,
	'extra-bold':		800,
	'black':  			900,
	);


// BREAKPOINTS
// usage: breakpoint(sm)
$breakpoints: (
	'xs': 480px,
	'sm': 768px,
	'md': 992px,
	'lg': 1200px
	);

// DIRECTIONS
$directions: (top, right, bottom, left);


/**
*		GLOBAL SETTINGS
**/

// type
$body-font: $font-alegreya-sans;
$header-font: $font-cormorant-garamond;
$uppercase-letter-spacing: 0.075em !default;
$body-font-size: 20px;

// colors
$theme-color: color('teal-fill') !default;
$theme-dark: color('teal-dark') !default;
$theme-text: color('jet') !default;
$theme-grey: color('snow') !default;
$theme-link: color('terra-cotta') !default;
$theme-link-hover: color('red-dark') !default;

$highlight1: color('gold-fill') !default;
$highlight1-hover: color('gold-fill-dark') !default;
$highlight2: color('orange-fill') !default;
$alert-color: color('terra-cotta') !default;

$nav-link-color: color('blue-fill') !default;
$nav-link-hover: color('silver') !default;
$mobile-nav-bg: color('platinum-blue');
$mobile-nav-hover: color('silver-blue');
$mobile-nav-border: #c1d0d3;
$profile-nav-hover: color('gray-lessons');

$table-bg-lessons: color('gray-lessons') !default;
$table-bg-topics: color('gray-topics') !default;
$border-color: color('gray-border');

// block elements
$border-radius: 4px !default;
$btn-border-radius: 9001px !default;

// misc
$container-max-width: 1200px !default;
$trans-time: 250ms !default;
$box-shadow:  0 4px 4px rgba( color('black'), 0.25);



