/**
*		GLOBAL SETTINGS
**/
/**
 *  BROWSER PREFIXES
 */
/**
 *  POSITIONING
 */
/**
 *  UTIL
 */
.bb-slider-container .title {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.center-margin {
  margin-left: auto;
  margin-right: auto; }

body.bd-hide-left-bar #right-panel-inner {
  margin-left: 0; }

body {
  color: #333;
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif; }

#content #counters {
  background-color: #e69138; }

#content #clients {
  background-color: #674ea7; }

.btn,
a.btn {
  width: auto;
  border-radius: 9001px; }

#header-main {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: #fff;
  color: #351c75; }
  @media screen and (max-width: 479px) {
    #header-main {
      display: none; } }
  #header-main #mastlogo {
    height: 75px;
    width: 100%;
    float: none;
    margin: 0;
    box-shadow: none; }
    #header-main #mastlogo .site-title {
      text-align: center; }
    body.logged-in #header-main #mastlogo {
      display: inline-block;
      float: left;
      width: 105px;
      padding: 5px 18px; }
      body.logged-in #header-main #mastlogo #logo img.large {
        display: none; }
      body.logged-in #header-main #mastlogo #logo img.small {
        display: block !important;
        max-height: 75px;
        width: auto; }
  #header-main #masthead {
    position: relative;
    height: 75px;
    border-top: #ccc 1px solid; }
    #header-main #masthead #search-open {
      background: none;
      color: #351c75; }
      #header-main #masthead #search-open:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0.35) ;
        -ms-transform: translate(-50%, -50%) scale(0.35) ;
        transform: translate(-50%, -50%) scale(0.35) ;
        width: 35px;
        height: 35px;
        background: #674ea7;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 250ms, transform 250ms; }
      #header-main #masthead #search-open:hover:before {
        opacity: 0.15;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1) ;
        -ms-transform: translate(-50%, -50%) scale(1) ;
        transform: translate(-50%, -50%) scale(1) ; }
      #header-main #masthead #search-open:active:before, #header-main #masthead #search-open:focus:before {
        opacity: 0.25;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%) scale(1) ;
        -ms-transform: translate(-50%, -50%) scale(1) ;
        transform: translate(-50%, -50%) scale(1) ; }
    #header-main #masthead .header-notifications {
      color: #351c75; }
    body.logged-in #header-main #masthead {
      border-top: none;
      float: left;
      width: calc(100% - 105px); }
      body.logged-in #header-main #masthead .left-col {
        padding: 0; }
      @media screen and (max-width: 991px) {
        body.logged-in #header-main #masthead .left-col {
          width: auto; }
        body.logged-in #header-main #masthead .right-col {
          width: auto; }
          body.logged-in #header-main #masthead .right-col .header-account-login {
            min-width: 0;
            padding-left: 15px; }
            body.logged-in #header-main #masthead .right-col .header-account-login .user-link .name {
              display: none;
              visibility: hidden; } }
      @media screen and (min-width: 992px) {
        body.logged-in #header-main #masthead {
          margin-left: 75px;
          width: calc(100% - 180px); } }
  #header-main .header-outher {
    box-shadow: none;
    margin-left: 0; }
  #header-main .header-inner .right-col .register,
  #header-main .header-inner .right-col .login {
    border-radius: 9001px;
    background-color: #0b5394;
    font-weight: 400; }
  @media screen and (min-width: 992px) {
    #header-main .header-inner .left-col {
      width: 100%;
      padding-left: 200px; }
    #header-main .header-inner .right-col {
      min-width: 200px; } }

@media screen and (min-width: 480px) {
  body {
    margin-top: 150px; }
    body.logged-in {
      margin-top: 75px; } }

#panels #right-panel,
#panels #left-panel {
  margin-top: 0; }

#panels.bd-hide-left-bar #right-panel #right-panel-inner {
  width: 100%;
  margin-left: 0; }

body.is-mobile #mobile-menu.menu-panel,
body.is-mobile #left-panel.menu-panel {
  background-color: #674ea7; }
  body.is-mobile #mobile-menu.menu-panel #header-menu a,
  body.is-mobile #mobile-menu.menu-panel #left-panel-inner a,
  body.is-mobile #left-panel.menu-panel #header-menu a,
  body.is-mobile #left-panel.menu-panel #left-panel-inner a {
    color: #ccc; }
    body.is-mobile #mobile-menu.menu-panel #header-menu a:before,
    body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:before,
    body.is-mobile #left-panel.menu-panel #header-menu a:before,
    body.is-mobile #left-panel.menu-panel #left-panel-inner a:before {
      color: #333; }
    body.is-mobile #mobile-menu.menu-panel #header-menu a, body.is-mobile #mobile-menu.menu-panel #header-menu a:before,
    body.is-mobile #mobile-menu.menu-panel #left-panel-inner a,
    body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:before,
    body.is-mobile #left-panel.menu-panel #header-menu a,
    body.is-mobile #left-panel.menu-panel #header-menu a:before,
    body.is-mobile #left-panel.menu-panel #left-panel-inner a,
    body.is-mobile #left-panel.menu-panel #left-panel-inner a:before {
      transition: color 250ms; }
    body.is-mobile #mobile-menu.menu-panel #header-menu a:hover, body.is-mobile #mobile-menu.menu-panel #header-menu a:focus, body.is-mobile #mobile-menu.menu-panel #header-menu a:active,
    body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:hover,
    body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:focus,
    body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:active,
    body.is-mobile #left-panel.menu-panel #header-menu a:hover,
    body.is-mobile #left-panel.menu-panel #header-menu a:focus,
    body.is-mobile #left-panel.menu-panel #header-menu a:active,
    body.is-mobile #left-panel.menu-panel #left-panel-inner a:hover,
    body.is-mobile #left-panel.menu-panel #left-panel-inner a:focus,
    body.is-mobile #left-panel.menu-panel #left-panel-inner a:active {
      color: #fff; }
      body.is-mobile #mobile-menu.menu-panel #header-menu a:hover:before, body.is-mobile #mobile-menu.menu-panel #header-menu a:focus:before, body.is-mobile #mobile-menu.menu-panel #header-menu a:active:before,
      body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:hover:before,
      body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:focus:before,
      body.is-mobile #mobile-menu.menu-panel #left-panel-inner a:active:before,
      body.is-mobile #left-panel.menu-panel #header-menu a:hover:before,
      body.is-mobile #left-panel.menu-panel #header-menu a:focus:before,
      body.is-mobile #left-panel.menu-panel #header-menu a:active:before,
      body.is-mobile #left-panel.menu-panel #left-panel-inner a:hover:before,
      body.is-mobile #left-panel.menu-panel #left-panel-inner a:focus:before,
      body.is-mobile #left-panel.menu-panel #left-panel-inner a:active:before {
        color: #ccc; }
  body.is-mobile #mobile-menu.menu-panel #header-menu .dropdown .ab-sub-wrapper,
  body.is-mobile #mobile-menu.menu-panel #left-panel-inner .dropdown .ab-sub-wrapper,
  body.is-mobile #left-panel.menu-panel #header-menu .dropdown .ab-sub-wrapper,
  body.is-mobile #left-panel.menu-panel #left-panel-inner .dropdown .ab-sub-wrapper {
    background-color: #333; }

body.is-mobile #mobile-header {
  background-color: #333; }
  body.is-mobile #mobile-header a {
    color: #fff; }

.header-navigation #header-menu {
  text-align: center; }
  .header-navigation #header-menu > .horizontal-responsive-menu {
    overflow: visible; }
    .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item {
      position: relative; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item + .menu-item {
        margin-left: -3px; }
        .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item + .menu-item:before {
          content: '';
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          width: 1px;
          height: 35%;
          background: linear-gradient(to top, transparent 0%, #eee 35%, #eee 100%); }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a {
        position: relative;
        padding: 0 30px;
        line-height: inherit;
        color: #0b5394;
        font-weight: 400; }
        .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:before {
          content: '';
          position: absolute;
          left: 0;
          top: -2px;
          width: 100%;
          height: 3px;
          background-color: #0b5394;
          transition: opacity 250ms;
          opacity: 1; }
          body.logged-in .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:before {
            top: 0; }
        .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:after {
          position: absolute;
          left: 50%;
          top: auto;
          bottom: 30%;
          width: calc( 100% - 60px);
          height: 3px;
          -webkit-transform: translate(-50%, 0) ;
          -ms-transform: translate(-50%, 0) ;
          transform: translate(-50%, 0) ;
          background-color: #0b5394;
          opacity: 0;
          transition: opacity 250ms; }
        .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:hover:before, .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:active:before, .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:focus:before {
          opacity: 0; }
        .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:hover:after, .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:active:after, .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item a:focus:after {
          opacity: 1; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item.current-menu-item a:before {
        opacity: 0; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item.current-menu-item a:after {
        opacity: 1; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 1) a:before,
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 1) a:after {
        background-color: #0b5394; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 2) a:before,
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 2) a:after {
        background-color: #f1c232; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 3) a:before,
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 3) a:after {
        background-color: #45818e; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 4) a:before,
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 4) a:after {
        background-color: #e69138; }
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 5) a:before,
      .header-navigation #header-menu > .horizontal-responsive-menu > .menu-item:nth-child(5n + 5) a:after {
        background-color: #674ea7; }
    .header-navigation #header-menu > .horizontal-responsive-menu .hideshow a {
      color: #0b5394; }

#item-header {
  min-height: 0; }
  #item-header #item-header-cover {
    position: relative; }
  #item-header .bb-cover-photo {
    height: 100%; }
  #item-header .member-header-wrapper {
    padding: 50px 0 25px; }
  #item-header .member-header-container {
    max-width: 250px; }
    #item-header .member-header-container .sep {
      display: none; }
  #item-header .bb-cover-photo .update-cover-photo i.fa,
  #item-header .bb-cover-photo .update-cover-photo div {
    color: black; }
  #item-header .bb-cover-photo .update-cover-photo div {
    background-color: blue-light; }
  #item-header .bb-cover-photo:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.35); }
  #item-header .member-header-userinfo {
    text-align: center; }
    #item-header .member-header-userinfo #item-header-avatar {
      float: none; }
      #item-header .member-header-userinfo #item-header-avatar > a {
        position: relative;
        display: block;
        width: 140px;
        height: 140px;
        margin: 0 auto;
        border-radius: 50%;
        overflow: hidden; }
        @media screen and (min-width: 1200px) {
          #item-header .member-header-userinfo #item-header-avatar > a {
            width: 150px;
            height: 150px; } }
        #item-header .member-header-userinfo #item-header-avatar > a > img {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%)  ;
          -ms-transform: translate(-50%, -50%) "" ;
          transform: translate(-50%, -50%) "" ;
          float: none;
          max-width: 100%;
          width: auto;
          height: auto;
          border-radius: 0; }
  #item-header #item-header-cover .member-header-wrapper .member-header-container #item-header-content {
    float: none;
    margin: 0;
    width: 100%; }
    #item-header #item-header-cover .member-header-wrapper .member-header-container #item-header-content .basic {
      margin: 0;
      padding-bottom: 0;
      box-shadow: none;
      border: none; }
      #item-header #item-header-cover .member-header-wrapper .member-header-container #item-header-content .basic h1,
      #item-header #item-header-cover .member-header-wrapper .member-header-container #item-header-content .basic h2.user-nicename {
        display: block;
        margin: 20px 0;
        color: white;
        line-height: 125%;
        text-shadow: 0 0 4px rgba(0, 0, 0, 0.65); }
      #item-header #item-header-cover .member-header-wrapper .member-header-container #item-header-content .basic h1 {
        font-size: 36px;
        font-size: 3.6rem; }
      #item-header #item-header-cover .member-header-wrapper .member-header-container #item-header-content .basic h2.user-nicename {
        font-size: 19px;
        font-size: 1.9rem;
        font-weight: 300; }
  #item-header #item-buttons > * + * {
    margin-top: 15px; }
  #item-header #item-header-cover #item-statistics {
    float: none; }
    #item-header #item-header-cover #item-statistics .generic-button {
      float: none;
      box-shadow: none; }
      #item-header #item-header-cover #item-statistics .generic-button a {
        width: 100%;
        max-width: none; }

#colophon .widget-area .widget .textwidget {
  color: #fff; }

body .entry-content #students > .vc_col-sm-12, body .entry-content #students > .vc_col-sm-12 *,
body .entry-content #clients > .vc_col-sm-12,
body .entry-content #clients > .vc_col-sm-12 *,
body .entry-content #companies > .vc_col-sm-12,
body .entry-content #companies > .vc_col-sm-12 *,
body .entry-content #instructors > .vc_col-sm-12,
body .entry-content #instructors > .vc_col-sm-12 *,
body .entry-content #students > .vc_col-sm-12,
body .entry-content #students > .vc_col-sm-12 *,
body .entry-content #counters > .vc_col-sm-12,
body .entry-content #counters > .vc_col-sm-12 *,
body .entry-content #shop > .vc_col-sm-12,
body .entry-content #shop > .vc_col-sm-12 *,
body .entry-content #launch > .vc_col-sm-12,
body .entry-content #launch > .vc_col-sm-12 *,
body .entry-content #vc-courses > .vc_col-sm-12,
body .entry-content #vc-courses > .vc_col-sm-12 * {
  font-family: "Alegreya Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

body .entry-content #students > .vc_col-sm-12 h1,
body .entry-content #students > .vc_col-sm-12 h2,
body .entry-content #students > .vc_col-sm-12 h3,
body .entry-content #students > .vc_col-sm-12 h4,
body .entry-content #students > .vc_col-sm-12 h5,
body .entry-content #students > .vc_col-sm-12 h6,
body .entry-content #clients > .vc_col-sm-12 h1,
body .entry-content #clients > .vc_col-sm-12 h2,
body .entry-content #clients > .vc_col-sm-12 h3,
body .entry-content #clients > .vc_col-sm-12 h4,
body .entry-content #clients > .vc_col-sm-12 h5,
body .entry-content #clients > .vc_col-sm-12 h6,
body .entry-content #companies > .vc_col-sm-12 h1,
body .entry-content #companies > .vc_col-sm-12 h2,
body .entry-content #companies > .vc_col-sm-12 h3,
body .entry-content #companies > .vc_col-sm-12 h4,
body .entry-content #companies > .vc_col-sm-12 h5,
body .entry-content #companies > .vc_col-sm-12 h6,
body .entry-content #instructors > .vc_col-sm-12 h1,
body .entry-content #instructors > .vc_col-sm-12 h2,
body .entry-content #instructors > .vc_col-sm-12 h3,
body .entry-content #instructors > .vc_col-sm-12 h4,
body .entry-content #instructors > .vc_col-sm-12 h5,
body .entry-content #instructors > .vc_col-sm-12 h6,
body .entry-content #students > .vc_col-sm-12 h1,
body .entry-content #students > .vc_col-sm-12 h2,
body .entry-content #students > .vc_col-sm-12 h3,
body .entry-content #students > .vc_col-sm-12 h4,
body .entry-content #students > .vc_col-sm-12 h5,
body .entry-content #students > .vc_col-sm-12 h6,
body .entry-content #counters > .vc_col-sm-12 h1,
body .entry-content #counters > .vc_col-sm-12 h2,
body .entry-content #counters > .vc_col-sm-12 h3,
body .entry-content #counters > .vc_col-sm-12 h4,
body .entry-content #counters > .vc_col-sm-12 h5,
body .entry-content #counters > .vc_col-sm-12 h6,
body .entry-content #shop > .vc_col-sm-12 h1,
body .entry-content #shop > .vc_col-sm-12 h2,
body .entry-content #shop > .vc_col-sm-12 h3,
body .entry-content #shop > .vc_col-sm-12 h4,
body .entry-content #shop > .vc_col-sm-12 h5,
body .entry-content #shop > .vc_col-sm-12 h6,
body .entry-content #launch > .vc_col-sm-12 h1,
body .entry-content #launch > .vc_col-sm-12 h2,
body .entry-content #launch > .vc_col-sm-12 h3,
body .entry-content #launch > .vc_col-sm-12 h4,
body .entry-content #launch > .vc_col-sm-12 h5,
body .entry-content #launch > .vc_col-sm-12 h6,
body .entry-content #vc-courses > .vc_col-sm-12 h1,
body .entry-content #vc-courses > .vc_col-sm-12 h2,
body .entry-content #vc-courses > .vc_col-sm-12 h3,
body .entry-content #vc-courses > .vc_col-sm-12 h4,
body .entry-content #vc-courses > .vc_col-sm-12 h5,
body .entry-content #vc-courses > .vc_col-sm-12 h6 {
  font-family: "Cormorant Garamond", serif; }
